body {
  background-color: #9B2229;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}
a {
  color: #decacb;
}
#content {
  width: 90%;
  margin: 0 auto;
}
#top-nav li {
  display: inline;
  padding: 5px;
}
