.book-reader-gallery .exhibit-gallery-item {
  text-align: center;
}

.book-reader-gallery .exhibit-item-link {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  text-align: center;
}

.book-reader-gallery .exhibit-item-link::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s ease;
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center center;
  background-color: rgba(175, 157, 108, .75);
}

.book-reader-gallery .exhibit-item-link::after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: 0;
  right: 0;
  height: 3.5em;
  width: 4em;
  background-color: rgba(104, 20, 22, .9);
  background-image: url("../images/bookreader.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2em;
}

.book-reader-gallery .exhibit-item-link:hover::before {
  opacity: 1;
}

.book-reader-gallery .exhibit-item-link:hover::after {
  background-color: color(rgba(104, 20, 22, .75) tint(5%));
}

.book-reader-gallery .exhibit-item-link img {
  position: relative;
  display: block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  max-height: 400px;
}

@media (--screen-md) {
  .book-reader-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .book-reader-gallery .exhibit-gallery-item {
    width: 30%;
  }
}
