
.site-title {
  text-align: center;
  padding-top: var(--padding-unit);
  padding-bottom: var(--padding-unit);
  margin-top: var(--padding-unit);
  margin-bottom: var(--padding-unit);
}

.site-title img {
  max-width: 300px;
}

.header-secondary-link {
  font-family: var(--header-font-family);
  font-size: 1.2em;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
}

.menu button {
  display: block;
  width: 100%;
  margin: var(--padding-unit) 0;
}

@media only screen and (min-width: 600px) {
  .exhibit-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: calc(var(--padding-unit) * 1.5);
    margin-right: calc(var(--padding-unit) * 1.5);
  }

  .menu button {
    margin: 0;
    position: absolute;
    width: 100px;
    left: -0;
  }

  .menu {
    width: 30%;
  }

  .header-secondary-link {
    width: 30%;
  }
  .header-secondary-link {
    text-align: right;
  }
}
