/* Collapsed metadata */
.item-file-all-metadata-modal {
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  width: 100%;
  max-height: 20em;
  overflow: scroll;
  padding-bottom: .75em;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  border-top: 2px solid white;
  background-color: var(--item-meta-bg);
  color: black;
  font-size: .8em;
  transition: bottom .5s ease;
}

.item-file-all-metadata-modal.open {
  bottom: 0;
}

.item-file-all-metadata-modal .element-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--padding-unit);
}

.item-file-all-metadata-modal .element {
  flex: 1;
  min-width: 25%;
  margin-bottom: var(--padding-unit);
  padding: 0 1em 1em 1em;
}

.item-file-all-metadata-modal .element h3 {
  margin: 0;
  color: var(--rich-red);
  font-family: var(--header-font-family);
  font-size: 1em;
}

.item-file-all-metadata-modal .element-text {
  font-family: monospace;
}

.item-file-all-metadata-title {
  margin: 1em 0 0 1em;
  font-size: 1em;
}

.item-file-all-metadata-close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.5em;
  height: 1.5em;
  background-image: url("../images/exhibit-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-image: contain;
  border: none;
  outline: 0;
  background-color: transparent;
}
