header,
article,
footer {
  padding-right: var(--horizontal-padding-unit);
  padding-left: var(--horizontal-padding-unit);
}

@media only screen and (min-width: 35em) {
  header {
    padding: 0;
  }
}
