/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 200px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
