/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	width: 200px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	-webkit-transform: translate3d(-320px, 0, 0);
	transform: translate3d(-320px, 0, 0);
	-webkit-transition: -webkit-transform .4s;
	transition: transform .4s;
	-webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
	transition-timing-function: cubic-bezier(.7, 0, .3, 1);
}
